.github/**
.vscode/**
.yarn/**
.vscode-test/**
out/test/**
src/**
**/.eslintrc.json
.gitignore
.prettierignore
.prettierrc.json
DEPLOY.md
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
